page-profile-view {
.profile-view__image-container {
  background-color: #54D3BF;
  height: 200px;
}

.profile-view__image{
  padding-top: 20px;
  height: 200px;
  max-height: 200px;
}
/* Profile Cover*/
.support-nav .user-heading {
  /*background: #387ef5;*/
  background-image: url('../assets/imgs/material-graphite.jpg');
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 5px;
  text-align: center;
}

.support-nav .user-heading.round a  {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(255,255,255,0.3);
  display: inline-block;
}

.support-nav .user-heading a img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

}
