page-profile {
    .background-page {
      background-color: #393937;
    }
      .profile-view__image-container {
        background-color: #54D3BF;
        height: 200px;
      }
      .card-background-page {
        background-color: #393937;
      }
      
      .profile-view__image{
        padding-top: 20px;
        height: 200px;
        max-height: 200px;
      }
      /* Profile Cover*/
      .support-nav .user-heading {
        /*background: #387ef5;*/
        background-image: url('../assets/imgs/material-graphite.jpg');
        color: #fff;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        padding: 5px;
        text-align: center;
      }
      
      .support-nav .user-heading.round a  {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 10px solid rgba(255,255,255,0.3);
        display: inline-block;
      }
      
      .support-nav .user-heading a img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
      }

      .support-nav .user-heading p {
        color: white;
        margin-top: 5px;
        margin-bottom: 2px;
      }

      ion-item{
        margin-top: 16px;
        padding: 16px;
       
      }
      ion-list{
        padding: 0 16px;
      }
      .item-block{
        margin-top: 16px;
      }
     
      .ion_header{
        margin: 0;
      }

      .list-header {
        border-top: none;
        margin-bottom: 0px;
      }

      .favNotFound {
        position: absolute;
        text-align: center;
        color: #fff;
        font-size: 12pt;
        font-weight: bold;
        width: 100%;
        margin-top: 20px;
      }
    
  }
  