page-settings {
    .background{
      background-color: #393937;
      color:white;
     }
    .grey{
      background-color:rgb(196, 192, 192);
      color: blue;
    }
    .darkrow{
      background-color: grey;
      line-height: 50px;
      color: white;
      font-size: 12pt;    
    }
}