<ion-header>
    <ion-navbar color="primary">
      <ion-title>Park Details</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content class="background-page">

      <ion-fab top right edge>
        <button ion-fab mini color="danger">
          <ion-icon small name="md-share"></ion-icon>
        </button>
        <ion-fab-list>
          <button ion-fab>
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
          <button ion-fab>
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
          <button ion-fab>
            <ion-icon name="logo-vimeo"></ion-icon>
          </button>
          <button ion-fab>
            <ion-icon name="logo-googleplus"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
    
      <ion-card class="adv-map">
        <ion-card-header text-wrap class="park-name">
          {{parkDetails.name}}
          <div class="star-rate">
            <ion-icon *ngFor="let starName of parkDetails.starRatingArray" [name]="starName"></ion-icon>
            <div class="rate-text">
                ({{parkDetails.parkRating | number:'1.1-1'}})
                {{parkDetails.rating.numberOfRatings}}
            </div>
          </div>
        </ion-card-header>
          <ion-slides>
            <ion-slide  *ngFor="let image of parkDetails.images; let i:index">
              <ion-row>
                <ion-col col-12 class="img">
                    <img [src]="image.imageURL">
                </ion-col>
              </ion-row>
            </ion-slide>
          </ion-slides>
          <ion-card-title text-wrap>
            {{parkDetails.address.suburb}}  -  12 Km away
          </ion-card-title>
        <!-- <ion-item actions>
          <span ion-text item-start color="secondary" class="item-bold">18 min</span>
          <span ion-text item-start color="subtle">(2.6 mi)</span>
          <button ion-button color="primary" clear item-end icon-start>
            <ion-icon name='navigate'></ion-icon>
            Start
          </button>
        </ion-item> -->
    
      </ion-card>
    
      <ion-row no-padding>
        <ion-col text-center>
          <button class="action-button" ion-button small round icon-start>
            <ion-icon name='star'></ion-icon>
            Favorite
          </button>
        </ion-col>
        <ion-col text-center>
          <button class="action-button" ion-button small round icon-start>
            <ion-icon name='search'></ion-icon>
            Search
          </button>
        </ion-col>    
        <ion-col text-center>
          <button class="action-button" ion-button small round icon-start>
            <ion-icon name='map'></ion-icon>
            Map
          </button>
        </ion-col>
      </ion-row>
    
      <ion-card class="adv-map">
        <ion-card-header text-wrap class="park-full-address">
          {{parkDetails.address.fullAddress}}        
        </ion-card-header>
        <div class="map">
          <img src="assets/imgs/advance-card-map-paris.png">
        </div>
        <ion-card-title>
          <ion-row no-padding>
            <ion-col>
                <span ion-text item-end clear color="secondary" class="item-bold">26 min</span>
            </ion-col>
            <ion-col>
                <span ion-text clear color="subtle">(8.1 mi)</span>
            </ion-col>
            <ion-col>
                <button ion-button color="secondary" clear icon-start>
                    <ion-icon name='navigate'></ion-icon>
                    Start
                  </button>
            </ion-col>
          </ion-row>
            <!-- <span ion-text item-start color="secondary" class="item-bold">26 min</span>
            <span ion-text item-start color="subtle">(8.1 mi)</span>
            <button ion-button color="secondary" clear item-end icon-start>
              <ion-icon name='navigate'></ion-icon>
              Start
            </button> -->
        </ion-card-title>    
      </ion-card>
    
      <ion-list no-border>    
        <ion-list-header text-center>
          Facilities
        </ion-list-header>    
        <ion-item *ngFor="let facility of parkDetails.facilities">
            <div class="fac-pro-ico">
                <img [src]="facility.iconURL">
            </div>
          {{facility.id}}
          <ion-note item-end>
            {{facility.quantity}}
          </ion-note>
        </ion-item>
      </ion-list>
    
    
     <ion-list no-border>    
        <ion-list-header text-center>
          Prohibitions
        </ion-list-header>    
        <ion-item *ngFor="let prohibition of parkDetails.prohibitions">
            <div class="fac-pro-ico">
                <img [src]="prohibition.iconURL">
            </div>
          {{prohibition.id}}
            <ion-note item-end *ngIf='prohibition.restriction'>
              <img [src]="prohibition.iconAlertURL" (click)="viewRestriction(prohibition)">
            </ion-note>
            <ion-item [hidden]="prohibition.hiddenRestriction">
              <ion-note item-middle text-wrap>
                {{prohibition.restriction}}
              </ion-note>
            </ion-item>
        </ion-item>
      </ion-list>   
  </ion-content>
