page-park-details {
  .background-page {
    background-color: #393937;
    ion-card {
        border-style: none;
        border-radius: 0px;
        background: none;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
        margin: 10px auto 0px auto;
        max-width: 600px;
        .park-name {
          font-size: 1.6rem;
        }
        .park-full-address {
          font-size: 1.3rem;
        }
        ion-card-header {
          background-color: #393937;
          color: white;
          padding: 16px 0px 16px 0px;
          .star-rate{
            float: right;
            ion-icon {
              color:yellow;
            }
            .rate-text {
              position: relative;
              bottom: 2px;
              font-size: 10pt;
              display: inline;
            }
          }
        }
        ion-card-content {
          padding: 0;
        }
        ion-slides {
          height: 200px;
          border: 2px solid color($colors, white);
        }
        .adv-map p {
          font-size: 0.7em !important;
        }
        .img {
          position: relative;
          //width: 100%;
          padding: 0px;          
        }
        .map {
          position: relative;
          border: 2px solid color($colors, blue);
          height:200px;
          padding:0;
        }

        ion-card-title {
          color: white;
          font-size: 1.4rem;
        
          ion-row {
            .map-button {
              height: 50px;
              float: right;
            }

            ion-col {
              width: 100%;
              height: 100%;
              justify-content: center;
            }
          }
        }
        ion-item.h2 ion-item.p {
          color: white;
        }
      }
      // ion-item {
      //   background-color: #393937;
      //   color: white;
      // }
    
      button[fab].fab-map {
        top: calc(100% - 20px);
        z-index: 50;
      }
    
      .item-bold {
        font-weight: bold;
      }
      ion-list {
        background-color: #393937;
        ion-list-header {
          background-color: #488aff;
          color: white;
          border-top: none;
          margin-bottom: 0px;
        }
        ion-item {
          background-color: #393937;
          color: white;
          .fac-pro-ico {
            display: inline-block;
            margin-right: 20px;
            width: 25px;
            height: 25px;
          }
        }
     }
    }
    ion-row {
      ion-col {
        .action-button {
          max-width: 100px;
          background-color: yellow;
          color: black;
        }
        .map-action-button {
          max-width: 100px;
          background-color: color($colors, secondary);
          color: black;
        }
        .rate {
          background-color: #488aff;
        }
        .user-stars {
          background: grey;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          .user-star-rate {
            font-size: 24pt;
            display: inline;
            margin: 5px;
            ion-icon {
              color:yellow;
            }
          }
        }
      }
      ion-col[data-status="true"]{
        .action-button {
          color: color($colors,danger);
        }
      }
    }
    .fav-rev-rate-buttons {
      max-width: 600px;
      margin: auto;
    }
  }
